/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/ov5650	0660	media	camera
/dev/ov2710	0660	media	camera
/dev/mt9d115    0600    media   camera
/dev/mt9p111    0660    media   camera
/dev/ltc3216    0600    media   camera
/dev/ad5820     0600    media   camera
/dev/tegra_camera	0660	media	camera
/dev/spdif*	0660	system	audio
/dev/ttyACM*    0660    radio   system
/dev/mpu        0640    system  system
/dev/mpuirq     0640    system  system
/dev/accelirq	0660	system	system
/dev/timerirq	0660	system	system
/sys/dock       0660    system  system
/dev/tegra_dc* 0660 system system
